<div class="row">
    @await Component.InvokeAsync("_DashboardOrderStatusChartComponentPartial")
    @await Component.InvokeAsync("_DashboardOrderDateChartComponentPartial")

    @* <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-chart-line"></i>
                    Bu Ayki Siparişler
                </h4>
                <h2 class="mb-5">56000 <span class="text-muted h4 font-weight-normal">Sales</span></h2>
                <canvas id="sales-chart"></canvas>
            </div>
        </div>
    </div> *@
</div>